<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.redboxing.mods.soulknight">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:label="Soul Knight Mod"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Soul Knight mod menu" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
    </application>
</manifest>